/* style.css */
/* Additional CSS styling... */
body {
    margin: 0;
    padding: 0;
    background-color: #A5D6A7; /* Hijau daun sangat muda */
}

.content {
    position: relative;
    top: 0;
    width: 100%;
}

#deteksi-data {
    display: inline-block;
    padding: 20px;
    background-color: #FFF9C4; /* Kuning pucat */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Shadow hitam transparan 20% */
    margin: 0 auto;
    color: #222;
}

#deteksi-data p {
    word-wrap: break-word;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    color: #388E3C; /* Hijau daun utama */
}

.card {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #66BB6A; /* Hijau daun lebih terang */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Shadow hitam transparan 20% */
}

.card-body {
    padding: 20px;
    color: #222;
}

.card-title {
    text-align: center;
    color: #FFFDE7; /* Kuning sangat pucat */
    margin-bottom: 15px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Shadow tipis untuk teks */
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Tampilan data tanpa tabel */
.data-item {
    margin-bottom: 10px;
}

.data-label {
    display: block;
    font-weight: bold;
    color: #388E3C;
}

.data-value {
    display: block;
    margin-left: 0;
}

/* Media Queries untuk Mobile */
@media (max-width: 768px) {
    .card {
        width: 94%;
        margin-top: 10px;
    }

    .center {
        width: 20%;
    }

    .card-title {
        font-size: 16px;
        margin-bottom: 5px;
    }

    h1 {
        font-size: 20px;
    }

    #deteksi-data {
        font-size: 14px;
        padding: 10px;
    }

    .card-body {
        padding: 10px;
    }

    .data-item {
        margin-bottom: 5px;
    }

    .data-label {
        font-size: 14px;
    }

    .data-value {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .center {
        width: 25%;
    }

    .card-title {
        font-size: 14px;
    }
}
