/* style.css */
/* Additional CSS styling... */
body {
    margin: 0;
    padding: 0;
    background-color: #f7f3e8; /* Krem muda */
}

.content {
    position: relative;
    top: 0;
    width: 100%;
}

#deteksi-data {
    display: inline-block;
    padding: 20px;
    background-color: #ffdb58; /* Kuning, sesuaikan */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    color: #222; /* Coklat tua, hampir hitam */
}

#deteksi-data p {
    word-wrap: break-word;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}

.card {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #ffdb58; /* Kuning, sesuaikan */
}

.card-body {
    padding: 20px;
    color: #222; /* Coklat tua, hampir hitam */
}

.card-title {
    text-align: center;
    color: #222; /* Coklat tua, hampir hitam */
    margin-bottom: 15px; /* Jarak dengan teks di bawahnya */
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%; /* Ukuran logo, sesuaikan */
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Tampilan data tanpa tabel */
.data-item {
    margin-bottom: 10px;
}

.data-label {
    display: block;
    font-weight: bold;
}

.data-value {
    display: block;
    margin-left: 0; /* Hapus margin left bawaan tabel */
}

/* Media Queries untuk Mobile */
@media (max-width: 768px) {
    .card {
        width: 94%; /* Lebar card di mobile */
        margin-top: 10px; /* Kurangi margin atas */
    }

    .center {
        width: 20%; /* Perbesar logo untuk layar kecil */
    }

    .card-title {
        font-size: 16px; /* Perkecil ukuran font judul */
        margin-bottom: 5px;
    }

    h1 {
        font-size: 20px;
    }

    #deteksi-data {
        font-size: 14px; /* Perkecil ukuran font konten */
        padding: 10px; /* Kurangi padding */
    }

    .card-body {
        padding: 10px; /* Kurangi padding */
    }

    /* Styling data tanpa tabel */
    .data-item {
        margin-bottom: 5px; /* Kurangi margin antar item */
    }

    .data-label {
        font-size: 14px;
    }

    .data-value {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
  .center{
    width: 25%;
  }
  .card-title{
    font-size: 14px;
  }
}
