/* style.css */
/* Additional CSS styling... */
body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.content {
    position: relative;
    top: 0;
    width: 100%;
}

#deteksi-data {
    display: inline-block;
    padding: 20px;
    background-color: rgba(181, 228, 140, 0.7);
    /* Menambahkan latar belakang transparan */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* Menambahkan shadow */
    margin: 0 auto;
    /* Mengatur posisi box card menjadi tengah */
    color: black;
    /* Atur warna teks menjadi hitam */
}

#deteksi-data p {
    word-wrap: break-word;
    /* Memastikan teks dapat di-wrap secara otomatis */
}

h1 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    /* Memberi jarak antara box card dengan judul card */
}

.card {
    width: 80%;
    max-width: 600px;
    /* Mengatur lebar card hingga 55% dari lebar layar */
    margin: 0 auto;
    /* Mengatur posisi card menjadi tengah */
    margin-top: 20px;
    /* Memberi jarak antara box card dengan card */
    background-color: #f2f2f2;
    /* Menambahkan latar belakang transparan */
}

.card-body {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    color: black;
    /* Atur warna teks menjadi hitam */
}

.card-title {
    text-align: center;
    /* Mengatur posisi judul card di tengah */
    color: black;
    /* Menambahkan latar belakang transparan */
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    /* Ubah ukuran logo di sini */
    padding-top: 10px;
    padding-bottom: 10px;
}

#deteksi-data table tr td {
    color: black;
    /* Atur warna teks menjadi hitam */
}
